%h2 About PHPcasts
%p Every second monday author Fabian Becker hosts a new episode of PHPcasts featuring new developments in the PHP world.

%h2 Software used
%ul
  %li Camtasia Studio 7

%h2 PHPcasts
%p PHPcasts is written in Ruby using the Sinatra framework and the Sequel ORM.
